body {
    margin: 0;
    background-color: #f3f3f3;
    font-family: Microsoft YaHei;
}

input[type='text'] {
    width: 230px;
    height: 35px;
    border: 1px solid #DDDDDD;
    border-radius: 15px;
    margin: 10px 0;
    padding-left: 16px;
}

input[type='submit'] {
    width: 90px;
    height: 35px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    border: 0px solid;
    text-align: center;
    z-index: 111;
    background-color: #d1d1d1;
    -webkit-appearance: none;
}

button {
    width: 90px;
    height: 35px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    border: 0px solid;
    text-align: center;
    z-index: 111;
    background-color: #d1d1d1;
    /*-webkit-transition-duration: 0.2s; 
    transition-duration: 0.2s;*/
}

button:hover {
    background-color: rgb(221, 221, 221);
    /*box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24),0 3px 4px 0 rgba(0,0,0,0.19);*/
}

input[type="submit"]:hover {
    background-color: rgb(221, 221, 221);
}

h1 {
    font-weight: 500;
}

.setdate {
    width: 230px;
    height: 35px;
    font-size: 15px;
    margin-bottom: 10px;
    padding-left: 13px;
    border: 1px solid #DDDDDD;
    border-radius: 15px;
}

#date {
    width: 230px;
    height: 35px;
    font-size: 15px;
    padding-left: 13px;
    border: 3px solid #c0c0c0;
    border-radius: 10px;
}

.info {
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    table-layout: fixed;
    border-spacing: 0;
    margin-bottom: 20px;
    box-shadow: 0 8px 16px 0 rgba(122, 122, 122, 0.2), 0 6px 20px 0 rgba(114, 114, 114, 0.19);
}

.info th {
    width: 90px;
    height: 30px;
    padding: 9px;
    border: 1px solid #DDDDDD;
    background-color: #dedede;
}

.info td {
    width: 90px;
    height: 30px;
    padding: 9px;
    border: 1px solid #DDDDDD;
    border-left: 0px;
    border-top: 0;
    text-align: center;
}

.info td:last-child {
    border-right: 0;
}

.info tr:last-child td{
    border-bottom: 0;
}

#nav {
    position: fixed;
    margin-top: 60px;
    font-size: 23px;
    font-family: Microsoft YaHei;
    line-height: 68px;
}

#nav a {
    text-decoration: none;
}


a:link {
    color: #000;
}

a:visited {
    color: #000;
}

#salepage {
    display: block;
    position: absolute;
    width: 1000px;
    min-height: 100%;
    padding: 70px 80px 50px 100px;
    margin-left: 300px;
    word-wrap: break-word;
    overflow: hidden;
    background-color: white;
}

#userinfo {
    padding-left: 65px;
    margin-bottom: 30px;
}

#head img {
    border-radius: 50%;
}

.link {
    padding-left: 80px;
}

#choose {
    width: 300px;
    background-color: #e4e4e4;
}

#chosen {
    padding-left: 80px;
}

#searchdate {
    margin-right: 20px;
    font-size: 23px;
    line-height: 30px;
}

#searchbutton {
    margin-top: -35px;
    margin-left: 260px;
}

#form {
    margin-top: 70px;
}

#edit {
    margin: 0 70px;
}

.done {
    margin-top: 20px;
}

.set {
    padding-top: 20px;
}

#openfilterbutton {
    margin-left: 370px;
    margin-top: -51px;
}

.filtdate {
    width: 230px;
    height: 35px;
    font-size: 15px;
    margin-bottom: 10px;
    padding-left: 13px;
    border: 1px solid #DDDDDD;
    border-radius: 15px;
}

.filtsearch {
    padding-top: 30px;
}

.timeselect {
    width: 105px;
    height: 35px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 13px;
    border: 1px solid #DDDDDD;
    border-radius: 15px;
}

input[type='time'] {
    width: 230px;
    height: 35px;
    border: 1px solid #DDDDDD;
    border-radius: 15px;
    margin: 10px 0;
    padding-left: 16px;
    font-family: Microsoft YaHei;;
}